In [1]:
import numpy as np
import csv
import pandas as pd
import random
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.metrics import accuracy_score as acc
from sklearn.model_selection import cross_val_score
from sklearn.metrics import make_scorer


df = pd.read_csv('bank-additional-full.csv', delimiter = ";")
df.head

# Creates copy of df
df_copy = df

# Convert to dummies
df_dummies = pd.get_dummies(df)
df_dummies.head()

# Deletes columns "y_no" and "duration"
del df_dummies["y_no"]
del df_dummies["duration"]
df_dummies.head()

,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,job_admin.,...,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success,y_yes
0,56,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,0,0,1,0,0,0,0,1,0,0
1,57,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,0,0,1,0,0,0,0,1,0,0
2,37,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,0,0,1,0,0,0,0,1,0,0
3,40,1,999,0,1.1,93.994,-36.4,4.857,5191.0,1,...,0,0,1,0,0,0,0,1,0,0
4,56,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,0,0,1,0,0,0,0,1,0,0

In [6]:
# Generates histogram for y_yes
x_ax = df_dummies["y_yes"]
plot = sns.distplot(x_ax, kde = False, rug = False)
plot.figure.savefig("y_yes_Histo.png")

<img src="y_yes_Histo.png">

In [8]:
# Get the features from the data set.

y_ax = y_df.values.T
#X_df.head()
print('X: ')
print(x_ax)
print('y: ')
print(y_ax)

X:
0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
41158    1
41159    1
41160    1
41161    0
41162    0
41163    1
41164    1
41165    1
41166    1
41167    0
41168    0
41169    0
41170    0
41171    1
41172    1
41173    1
41174    1
41175    0
41176    0
41177    0
41178    1
41179    0
41180    0
41181    1
41182    0
41183    1
41184    0
41185    0
41186    1
41187    0
Name: y_yes, Length: 41188, dtype: uint8
y:
[0 0 0 ..., 0 1 0]

In [11]:

X = df_dummies
y = train_dummies

X, y = make_classification(n_samples=100, n_features=4, n_informative=2, n_redundant=0, random_state=0, shuffle=False)

clf = RandomForestClassifier(max_depth=2, random_state=0)

clf.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=2, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [70]:

predict = clf.predict([[0, 0, 0, 0]])
predict = clf.predict(X)
print clf.feature_importances_
print predict

[ 0.02813447  0.75338449  0.03803864  0.18044241]
[0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 1 0 0 0 1 0 1 0 1 1 1 1 1 1 1 0 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1]

In [40]:
scores = cross_val_score(clf, X, y, cv=10,scoring = make_scorer(acc))
#print "Scores: ", scores
print ("Scores")
for i in scores:
    print i

Scores
0.909090909091
0.8
1.0
0.8
0.8
1.0
0.9
1.0
0.8
1.0

In [82]:
from sklearn.metrics import confusion_matrix
import itertools

cnf_matrix = confusion_matrix(y_ax[:len(predict)], predict)

print cnf_matrix

[[46 51]
 [ 1  2]]